.container_item {
  display: flex;
  align-items: center;
}
.task {
  cursor: pointer;
  width: 90%;
  height: 50px;
  font-weight: 400;
}
.input_task {
  width: 40%;
  height: 50px;
  border: none;

  font-size: 17px;
}
.input_task,
.task {
  background-color: #F2F2F2;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-radius: 5px;
  margin-bottom: 20px;


  color: #3C475E;
}
.icon_task {
  background: none;  
}
.check {
  font-size: 24px;
  color: #44C25B;
}
.trash {
  color: #E097AA;
  font-size: 22px;
}
.icon_sum {
  height: 50px;
  border: none;
  border-radius: 10%;
  background-color: #EA3B67;
  color: #ffffff;
  padding: 0 15px;
  cursor: pointer;
}
.icon {
  background: none;
  font-size: 40px;
  position: relative;
  top: 2px;
}
