.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: 15px;
}
.to_do_top {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1024px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;  
  background: #92c2d7;
}
.to_do_top
.to_do_top,
.list_tasks,
.to_do_top div {
  background: #92c2d7;
}
.list_tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 1024px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;  
  background: #92c2d7;
}
.list_tasks h1 {
  font-size: 20px;
  font-weight: 600;
  color: #FFF;
  background: none;
}
.line {
  width: 99%;
  height: 2px;
  background: #bee5eb;
}
.itens {
  width: 100%;
}
